 .u-section-1 {
  background-image: none;
  min-height: 992px;
}

.u-section-1 .u-shape-1 {
  background-image: none;
  height: 324px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 984px;
  height: 629px;
  object-position: 23.86% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -264px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-group-1 {
  background-image: none;
  width: 751px;
  min-height: 461px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  height: auto;
  margin: -188px auto 30px calc(((100% - 1140px) / 2));
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 40px 14px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 6px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 883px;
    height: 601px;
    margin-right: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: -161px;
    margin-left: auto;
    margin-bottom: 31px;
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 834px;
  }

  .u-section-1 .u-image-1 {
    width: 650px;
    height: 490px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 620px;
    margin-top: -50px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 540px;
    height: 392px;
    margin-left: auto;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: 48px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 689px;
  }

  .u-section-1 .u-shape-1 {
    height: 257px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 247px;
    margin-top: -196px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1064px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 54px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 519px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin: 35px auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-5 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 519px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 600;
  margin: 11px 25px 0;
}

.u-section-2 .u-text-7 {
  font-size: 3rem;
  margin: 63px -1px 0;
}

.u-section-2 .u-text-8 {
  font-size: 3.75rem;
  margin: 51px 0 0;
}

.u-section-2 .u-text-9 {
  font-weight: 400;
  margin: 30px 18px 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 349px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-10 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
}

.u-section-2 .u-text-11 {
  font-size: 2.25rem;
  font-family: Roboto, sans-serif;
  margin: 45px 0 0;
}

.u-section-2 .u-text-12 {
  font-size: 3.75rem;
  margin: 4px 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 349px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 22px;
}

.u-section-2 .u-text-13 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 8px;
}

.u-section-2 .u-text-14 {
  font-size: 2.25rem;
  margin: 38px 8px 0;
}

.u-section-2 .u-text-15 {
  font-size: 3.75rem;
  margin: 9px 8px 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 349px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 22px;
}

.u-section-2 .u-text-16 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 8px;
}

.u-section-2 .u-text-17 {
  font-size: 2.25rem;
  margin: 40px 8px 0;
}

.u-section-2 .u-text-18 {
  font-size: 3.75rem;
  margin: 9px 8px 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 349px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 22px;
}

.u-section-2 .u-text-19 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 8px;
}

.u-section-2 .u-text-20 {
  font-size: 2.25rem;
  margin: 64px 8px 0;
}

.u-section-2 .u-text-21 {
  font-size: 3.75rem;
  margin: 9px 8px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1116px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 958px;
    margin: 20px auto 20px -18px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 470px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 470px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 450px;
  }

  .u-section-2 .u-text-12 {
    font-size: 3rem;
    width: auto;
    margin-top: 51px;
    margin-right: 2px;
    margin-left: -2px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 450px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-14 {
    width: auto;
    margin-top: 69px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-15 {
    font-size: 3rem;
    width: auto;
    margin-top: 51px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 450px;
  }

  .u-section-2 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-17 {
    width: auto;
    margin-top: 69px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-18 {
    font-size: 3rem;
    width: auto;
    margin-top: 51px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 450px;
  }

  .u-section-2 .u-text-19 {
    width: auto;
    margin-top: 24px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-20 {
    width: auto;
    margin-top: 93px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-21 {
    font-size: 3rem;
    width: auto;
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1129px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 402px;
    width: 720px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 818px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 755px;
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-2 .u-text-7 {
    font-size: 2.5rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 2.5rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-11 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-12 {
    font-size: 2.5rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-14 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-15 {
    font-size: 2.5rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-17 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-18 {
    font-size: 2.5rem;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-20 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-21 {
    font-size: 2.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2477px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 40px;
    width: 340px;
  }

  .u-section-2 .u-text-7 {
    font-size: 2rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 2rem;
  }

  .u-section-2 .u-text-11 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-12 {
    font-size: 2rem;
  }

  .u-section-2 .u-text-14 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-15 {
    font-size: 2rem;
  }

  .u-section-2 .u-text-17 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-18 {
    font-size: 2rem;
  }

  .u-section-2 .u-text-20 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-21 {
    font-size: 2rem;
  }
} .u-section-3 {
  min-height: 647px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 33px;
  margin-bottom: 50px;
}

.u-section-3 .u-image-1 {
  min-height: 574px;
  background-image: url("images/IMG_2058.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-btn-1 {
  --radius: 6px;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Bai Jamjuree";
  text-transform: uppercase;
  background-image: none;
  margin: 141px auto 0 93px;
  padding: 14px 59px 16px 58px;
}

.u-section-3 .u-text-1 {
  text-shadow: -2px 0px 8px rgba(128,128,128,1);
  font-size: 4.5rem;
  font-weight: 700;
  margin: 30px 54px 0 auto;
}

.u-section-3 .u-btn-2 {
  --radius: 6px;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Bai Jamjuree";
  text-transform: uppercase;
  background-image: none;
  margin: -12px auto 0 93px;
  padding: 15px 50px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 463px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 473px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 80px;
    margin-left: 34px;
    padding-right: 57px;
    padding-left: 57px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 22px;
    margin-right: 20px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 22px;
    margin-left: 34px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 921px;
  }

  .u-section-3 .u-image-1 {
    min-height: 774px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 728px;
  }

  .u-section-3 .u-image-1 {
    min-height: 581px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.125rem;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 471px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 33px;
  }

  .u-section-3 .u-image-1 {
    min-height: 415px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 160px;
    margin-left: auto;
    padding-right: 59px;
    padding-bottom: 15px;
    padding-left: 58px;
    font-family: Montserrat, sans-serif;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.5rem;
    margin-top: -172px;
    margin-right: auto;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 148px;
    margin-left: auto;
    font-family: Montserrat, sans-serif;
  }
} .u-section-4 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #1a1a1a, #475443);
  background-size: cover;
}

.u-section-4 .u-sheet-1 {
  min-height: 296px;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 50px auto 0;
}

.u-section-4 .u-text-1 {
  font-size: 1.5rem;
  margin: 20px auto 0 219px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-icon-1 {
    margin-top: 60px;
  }

  .u-section-4 .u-text-1 {
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-icon-1 {
    margin-left: 225px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 116px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 103px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-icon-1 {
    margin-left: 180px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.3333333333333333rem;
    margin-left: 106px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 58px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 130px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
  }
} .u-section-5 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #475443, #1a1a1a);
  background-size: cover;
}

.u-section-5 .u-sheet-1 {
  min-height: 205px;
}

.u-section-5 .u-text-1 {
  margin: 35px auto 0;
}

.u-section-5 .u-social-icons-1 {
  height: 48px;
  width: 214px;
  min-width: 160px;
  margin: 35px auto 34px;
}

.u-section-5 .u-icon-1 {
  color: rgb(0, 0, 0) !important;
  height: 0;
}

.u-section-5 .u-icon-2 {
  height: 0;
  color: rgb(255, 255, 255) !important;
}

.u-section-5 .u-icon-3 {
  height: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-social-icons-1 {
    min-height: 16px;
  }
}